<%= render 'tabs' %>

<div class='user-comments'>
  <% @user.comments.each do |comment| %>
    <p class='comment__tagline'>
      <%= link_to comment.challenge.name, challenge_path(comment.challenge) %>
      <span class='post-owner'>by <%= link_to comment.challenge.user.username, user_path(comment.challenge.user.username) %></span>
    </p>

    <%= render partial: 'challenges/comment', locals: {comment: comment, challenge: comment.challenge} %>
  <% end %>
</div>
