@import 'https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'milligram';
@import 'challenges';
@import 'comments';
@import 'devise';
@import 'profile';
@import 'chosen';

$gray: #d1d1d1;
$light-gray: #f4f5f6;
$dark-gray: #606c76;
$purple: #9b4dca;

// Base

body {
  background-color: $light-gray;
  margin-top: 5.2rem;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// Sections

.container {
  margin-bottom: 0;
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

// Navbar

.navigation {
  background: $light-gray;
  border-bottom: .1rem solid $gray;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .img {
    height: 2rem;
    position: relative;
    top: .3rem;
  }
}

.navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}

@media (min-width: 80.0rem) {
  .navigation-list {
    margin-right: 0;
  }
}

.navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}

.navigation .title,
.navigation-title {
  color: $dark-gray;
  display: inline;
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.navigation-link {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;

  &.active {
    color: $dark-gray;
  }
}

// Popover

.popover {
  background: #fff;
  border: .1rem solid $gray;
  border-radius: .4rem;
  display: none;
  filter: drop-shadow(0 0 .6rem rgba(0, 0, 0, .1));
  left: 50%;
  min-width: 13.4rem;
  position: absolute;
  top: 94%;
  transform: translateX(-50%);

  &.popover-open {
    display: block;
  }
}

.popover-item:first-child .popover-link::after,
.popover-item:first-child .popover-link::before {
  border: solid transparent;
  bottom: 100%;
  content: ' ';
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.popover-item:first-child .popover-link::after {
  border-bottom-color: #fff;
  border-color: transparent;
  border-width: 1rem;
  margin-left: -1rem;
}

.popover-item:first-child .popover-link::before {
  border-bottom-color: $gray;
  border-color: rgba(238, 238, 238, 0);
  border-width: 1.1rem;
  margin-left: -1.1rem;
}

.popover-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popover-item {
  margin: 0;
  padding: 0;
}

.popover-link {
  border-bottom: 1px solid $gray;
  color: $dark-gray;
  display: block;
  font-size: 1.2rem;
  padding: .8rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.popover-item:first-child .popover-link {
  border-radius: .4rem .4rem 0 0;
}

.popover-item:last-child .popover-link {
  border-bottom-width: 0;
  border-radius: 0 0 .4rem .4rem;
}

.popover-link:hover {
  background: $purple;
  color: #fff;
}

.popover-link:hover,
.popover-item:first-child .popover-link:hover::after {
  border-bottom-color: $purple;
}
