$blue: #49a7e9;

.challenge,
.challenge-form {
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;

  ul {
    margin-top: 1rem;
  }

  h3 {
    margin: 0;
  }

  hr {
    background: #eee;
    height: .1rem;
    margin: 1rem;
    width: 100%;
  }
}

.challenge-actions {
  list-style: none;

  li {
    float: left;
    font: {
      size: 1.2rem;
      weight: bold;
    }

    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }
}

// challenge tag

.tags {
  align-self: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    background: $blue;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    text-decoration: none;
  }

  a::before {
    border-color: transparent $blue transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: '';
    float: left;
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
  }

  a::after {
    background: #fff;
    border-radius: 2px;
    content: '';
    float: left;
    height: 4px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 4px;
  }

  a:hover {
    background: darken($blue, 5);
  }

  a:hover::before {
    border-color: transparent darken($blue, 5) transparent transparent;
  }
}

.tags li,
.tags a {
  float: left;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  position: relative;
}
