.comment {
  background-color: #fefefe;
  border: 1px solid #eee;
  margin-bottom: 1rem;
  padding: 1rem;
}

.comment__body {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.comment__tagline {
  margin-bottom: 0;

  .username {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .challenge-owner {
    background-color: $purple;
    border-radius: 3px;
    color: $white;
    padding: 1px 5px;
  }

  .timestamp {
    color: #999;
    font-size: 1.3rem;
  }
}
