.login-form {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;

  h3 {
    font-size: 2.3rem;
    margin: 0;
  }

  hr {
    background: #eee;
    height: .1rem;
    margin: 1rem;
  }

  .remember {
    label {
      color: #999;
      display: inline;
      font-size: 1.2rem;
      font-weight: normal;
    }

    input[type="checkbox"] {
      display: inline;
    }

    a {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }

  input[type="submit"] {
    display: block;
  }
}
